<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-80 z-50" (click)="closeModal()">
    <div class="bg-white p-4 rounded-lg shadow-lg h-5/6 w-full lg:h-auto lg:w-2/3 overflow-auto" (click)="$event.stopPropagation()">
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="h-full flex flex-col w-full rounded-xl p-5 lg:space-y-3 space-y-2 bg-white">
            <h2 class="text-xl font-semibold mb-2 font-nunito tracking-tight">
                {{ isEditMode ? 'Editar donante' : 'Crear donante' }}
            </h2>

            <div class="w-full h-auto flex-col flex lg:flex-row lg:space-x-3 lg:space-y-0 space-y-2">
                <div class="flex flex-col h-auto w-full lg:w-1/4 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Número de documento</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="document"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="" />
                        <div *ngIf="customerForm.controls['document'].invalid && (customerForm.controls['document'].dirty || customerForm.controls['document'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['document'].errors?.['required']">El número de documento es requerido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-2/4 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Nombre o razón social</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="name"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="" />
                        <div *ngIf="customerForm.controls['name'].invalid && (customerForm.controls['name'].dirty || customerForm.controls['name'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['name'].errors?.['required']">El nombre es requerido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-1/4 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Celular</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="phone"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="" />
                        <div *ngIf="customerForm.controls['phone'].invalid && (customerForm.controls['phone'].dirty || customerForm.controls['phone'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['phone'].errors?.['required']">El número de celular es requerido.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full h-auto flex-col flex lg:flex-row lg:space-x-3 lg:space-y-0 space-y-2">
                <div class="flex flex-col h-auto w-full lg:w-2/6 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Email</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="email"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="email" placeholder="" />
                        <div *ngIf="customerForm.controls['email'].invalid && (customerForm.controls['email'].dirty || customerForm.controls['email'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['email'].errors?.['required']">El email es requerido.</div>
                            <div *ngIf="customerForm.controls['email'].errors?.['email']">El email no es válido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-1/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Fecha de nacimiento</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="birthday" #datepickerInput
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="YYYY-MM-DD" />
                        <button #datepickerButton
                            class="fa fa-calendar-days absolute right-0 top-1/2 transform -translate-y-1/2 text-white h-10 lg:w-12 w-2/12 bg-blue-400 rounded-br-lg rounded-tr-lg"></button>
                    </div>
                    <div *ngIf="customerForm.controls['birthday'].invalid && (customerForm.controls['birthday'].dirty || customerForm.controls['birthday'].touched)"
                        class="text-red-500 text-xs mt-1">
                        <div *ngIf="customerForm.controls['birthday'].errors?.['required']">La fecha de nacimiento es requerida.</div>
                    </div>
                </div>
                

                <div class="flex flex-col h-auto w-full lg:w-1/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Sexo</p>
                    <div class="relative flex flex-col w-full">
                        <select formControlName="gender"
                            class="font-nunito text-sm tracking-tight text-slate-600 font-semibold h-10 w-full p-2 rounded-lg border">
                            <option value="">Selección</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                        </select>
                        <div *ngIf="customerForm.controls['gender'].invalid && (customerForm.controls['gender'].dirty || customerForm.controls['gender'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['gender'].errors?.['required']">El sexo es requerido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-1/4 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">País</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="country_id"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="number" placeholder="" />
                        <div *ngIf="customerForm.controls['country_id'].invalid && (customerForm.controls['country_id'].dirty || customerForm.controls['country_id'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['country_id'].errors?.['required']">El país es requerido.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full h-auto flex-col flex lg:flex-row lg:space-x-3 lg:space-y-0 space-y-2">
                <div class="flex flex-col h-auto w-full lg:w-1/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Ciudad</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="city_id"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="number" placeholder="" />
                        <div *ngIf="customerForm.controls['city_id'].invalid && (customerForm.controls['city_id'].dirty || customerForm.controls['city_id'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['city_id'].errors?.['required']">La ciudad es requerida.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-1/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Departamento</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="department_id"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="number" placeholder="" />
                        <div *ngIf="customerForm.controls['department_id'].invalid && (customerForm.controls['department_id'].dirty || customerForm.controls['department_id'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['department_id'].errors?.['required']">El departamento es requerido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-1/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Barrio</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="neighborhood"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="" />
                        <div *ngIf="customerForm.controls['neighborhood'].invalid && (customerForm.controls['neighborhood'].dirty || customerForm.controls['neighborhood'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['neighborhood'].errors?.['required']">El barrio es requerido.</div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-auto w-full lg:w-2/5 space-y-1">
                    <p class="text-sm font-nunito tracking-tight font-semibold">Dirección</p>
                    <div class="relative flex flex-col w-full">
                        <input formControlName="address"
                            class="flex h-10 w-full rounded-lg border p-5 placeholder:font-nunito placeholder:font-semibold placeholder:text-slate-500 placeholder:text-sm"
                            type="text" placeholder="" />
                        <div *ngIf="customerForm.controls['address'].invalid && (customerForm.controls['address'].dirty || customerForm.controls['address'].touched)"
                            class="text-red-500 text-xs mt-1">
                            <div *ngIf="customerForm.controls['address'].errors?.['required']">La dirección es requerida.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-full w-full flex items-center justify-end space-x-5 pb-8 pt-5 lg:pb-0 lg:pt-2">
                <button type="button" (click)="closeModal()" class="w-1/2 lg:w-1/4 h-10 bg-white text-blue-400 rounded-lg border font-nunito hover:bg-gray-300">Cancelar</button>
                <button type="submit" class="w-1/2 lg:w-1/4 h-10 bg-purple-400 text-white rounded-lg hover:bg-purple-500">
                    {{ isEditMode ? 'Actualizar' : 'Crear' }}
                </button>
            </div>
        </form>
    </div>
</div>
