<div class="flex flex-row w-full h-full fixed  items-center justify-center bg-login-pattern bg-cover">
    <!--<div class="flex flex-col lg:flex-row xl:flex-row 2xl:flex-row  w-10/12 h-5/6 bg-white rounded-xl shadow-xl shadow-indigo-100">

        <div class="flex w-full h-24 mt-5 items-center justify-center lg:hidden xl:hidden 2xl:hidden">
            <img class="object-contain flex w-6/12 h-full" src="/assets/images/logo_enlace.png" alt="">
        </div>
        <div class="flex flex-col p-5  lg:hidden xl:hidden 2xl:hidden">
            <div class="flex flex-col w-full h-full">
                <p class="font-nunito text-2xl font-extrabold text-slate-700">Bienvenido a Enlace CRM!</p>
                <p class="font-nunito text-xs font-normal">Aplicación de administración de llamadas</p>
            </div>
        </div>

        
        <div class="hidden lg:flex lg:flex-col lg:bg-blue-100 lg:h-1/6 lg:w-1/2 xl:flex xl:flex-col xl:bg-blue-100 xl:h-1/6 xl:w-1/2 2xl:flex 2xl:flex-col 2xl:bg-blue-100 2xl:h-1/6 2xl:w-1/2">

        </div>
        <div class="hidden lg:flex lg:flex-col lg:bg-red-100 lg:h-1/6 lg:w-1/2 xl:flex xl:flex-col xl:bg-red-100 xl:h-1/6 xl:w-1/2 2xl:flex 2xl:flex-col 2xl:bg-red-100 2xl:h-1/6 2xl:w-1/2">

        </div>


    </div>-->

    <div class="w-5/6 h-auto flex p-5 bg-white rounded-lg lg:w-2/6 lg:h-4/6">
        <div class="flex flex-col w-full h-full items-center space-y-5">
            <div class="flex w-full h-16 items-center justify-center ">
                <img class="object-contain flex w-6/12 h-full" src="/assets/images/logo_enlace.png" alt="">
            </div>
            <h1 class="font-nunito text-xl lg:text-2xl font-bold text-slate-600 lg:mt-3">Bienvenido a Enlace CRM</h1>

            <div class="flex h-4/6 w-full p-5">
                <form class="flex flex-col w-full h-full">
                    <div class="flex flex-col">
                        <p class="text-sm font-nunito font-bold tracking-tight pb-2">Usuario</p>
                        <div class="relative flex items-center">
                            <input class="flex h-12 w-full rounded-xl border p-5 pr-12 shadow-lg shadow-indigo-50 placeholder:font-nunito placeholder:font-light"
                                type="text" placeholder="Ingrese su usuario" />
                            <img src="/assets/svg/user.svg" class="absolute right-4 h-6 w-6 text-gray-400"
                                alt="Icono de usuario" />
                        </div>
                    </div>

                    <div class="flex flex-col pt-5">
                        <p class="text-sm font-nunito font-bold tracking-tight pb-2">Password</p>
                        <div class="relative flex items-center">
                            <input class="flex h-12 w-full rounded-xl border p-5 pr-12 shadow-lg shadow-indigo-50 placeholder:font-nunito placeholder:font-light"
                                type="text" placeholder="Ingrese su usuario" />
                            <img src="/assets/svg/eye-open.svg" class="absolute right-4 h-6 w-6 text-gray-400"
                                alt="Icono de usuario" />
                        </div>
                    </div>
                    <button
                        class="flex transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 w-full h-12 rounded-lg mt-10 items-center justify-center bg-indigo-500 shadow-lg shadow-indigo-500/50 text-white font-nunito font-sm">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>