<div class=" space-y-5 lg:flex-row lg:flex h-full w-full lg:space-x-5 lg:space-y-0 ">

    <div class="lg:w-1/2 w-full h-full bg-white rounded-xl ">
        <div class="flex h-full w-full flex-col p-5 lg:space-y-3 space-y-10">
            <div class="flex flex-col space-y-3 w-full h-14 items-center lg:flex-row lg:space-y-0">
                <h1 class="lg:w-1/2 w-full font-nunito text-base tracking-tight font-bold">Motivos de oración</h1>
                <div class="lg:w-1/2 w-full h-full flex items-center justify-end">
                    <button
                        class="lg:w-9/12 w-full bg-white text-blue-400 font-nunito text-sm font-semibold items-center justify-center flex h-10 border shadow-lg shadow-blue-50 rounded-xl"
                        (click)="addReason()">
                        Agregar motivo
                    </button>
                </div>
            </div>
    
            <!--Motivos de oración-->
            <div class="w-full lg:h-4/5 h-4/6  border border-gray-200 rounded-xl overflow-auto">
                <div class="h-full w-full">
                    <table class="table-auto w-full">
                        <thead class="border-b">
                            <tr class="whitespace-nowrap">
                                <th class="text-xs font-nunito font-bold p-3 text-left">Motivo</th>
                                <th class="text-xs font-nunito font-bold p-3 text-left">Estado</th>
                                <th class="text-xs font-nunito font-bold p-3 text-right pr-7">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reason of reasons; let i = index" class="border-b">
                                <td class="text-xs font-nunito p-3">
                                    <input *ngIf="reason.editando"
                                           [(ngModel)]="reason.name"
                                           class="w-full p-2 border rounded-lg"
                                           placeholder="Nombre del motivo" />
                                    <span *ngIf="!reason.editando">{{ reason.name }}</span>
                                </td>
                                <td class="pl-3">
                                    <select *ngIf="reason.editando"
                                            [(ngModel)]="reason.status"
                                            class="w-full p-2 border rounded-lg h-8 font-nunito text-xs tracking-tight">
                                        <option [value]="true">Activo</option>
                                        <option [value]="false">Inactivo</option>
                                    </select>
                                    <div *ngIf="!reason.editando" class="h-5 lg:w-1/2 w-full rounded-lg items-center justify-center flex"
                                         [class]="{'bg-green-100': reason.status, 'bg-red-100': !reason.status}">
                                        <p class="text-xs font-nunito p-3"
                                           [class]="{'text-green-400': reason.status, 'text-red-400': !reason.status}">
                                            {{ reason.status ? 'Activo' : 'Inactivo' }}
                                        </p>
                                    </div>
                                </td>
                                <td class="pl-3">
                                    <div class="flex space-x-2 justify-end pr-5">
                                        <button *ngIf="!reason.editando"
                                                class="h-6 w-6 bg-sky-100 rounded-lg items-center justify-center"
                                                (click)="editReason(i)">
                                            <i class="fa-regular fa-pen-to-square w-5 h-5 text-sky-500"></i>
                                        </button>
                                        <button *ngIf="reason.editando"
                                                class="h-6 w-6 bg-green-100 rounded-lg items-center justify-center"
                                                (click)="saveReason(i)">
                                            <i class="fa-regular fa-floppy-disk text-green-500"></i>
                                        </button>
                                        <button *ngIf="reason.editando"
                                                class="h-6 w-6 bg-gray-100 rounded-lg items-center justify-center"
                                                (click)="cancelReason(i)">
                                            <i class="fa-regular fa-rectangle-xmark text-gray-500"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             <!-- Paginación -->
             <div
             class="flex justify-center lg:justify-end lg:p-0 items-center space-x-2 lg:space-x-4 mt-2 lg:mt-5 text-xs font-nunito">
             <div class="flex flex-col lg:flex-row items-center space-x-2 font-nunito">
                 <label for="elementosPorPagina" class="text-xs font-medium text-gray-700">Items per page:</label>
                 <select id="elementosPorPagina"
                     class="block w-20 px-3 py-1.5 text-xs font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
                     [(ngModel)]="pageSize" (change)="loadReasonList()">
                     <option value="5">5</option>
                     <option value="10">10</option>
                     <option value="20">20</option>
                 </select>
             </div>

             <div class="flex items-center space-x-0 font-nunito">
                 <button
                     class="px-2 py-1 text-xs font-medium text-gray-700 bg-white rounded-md hover:bg-gray-100 disabled:text-gray-300 disabled:bg-white"
                     [disabled]="page <= 1" (click)="changePage(page - 1)">
                     Previous
                 </button>
                 <span class="text-xs font-medium font-nunito text-gray-700 flex">{{page}} of {{totalPages}}</span>
                 <button
                     class="px-2 py-1 text-xs font-medium font-nunito text-gray-700 bg-white rounded-md hover:bg-gray-100 disabled:text-gray-300 disabled:bg-white"
                     [disabled]="page >= totalPages" (click)="changePage(page + 1)">
                     Next
                 </button>
             </div>
         </div>


        </div>
    </div>

    <!--Cuadro de novedades-->

    <div class="lg:w-1/2 w-full h-full bg-white rounded-xl ">
        <div class="flex h-full w-full flex-col p-5 lg:space-y-3 space-y-10">
            <div class="flex flex-col space-y-3 w-full h-14 items-center lg:flex-row lg:space-y-0">
                <h1 class="lg:w-1/2 w-full font-nunito text-base tracking-tight font-bold">Novedades</h1>
                <div class="lg:w-1/2 w-full h-full flex items-center justify-end">
                    <button
                        class="lg:w-9/12 w-full bg-white text-blue-400 font-nunito text-sm font-semibold items-center justify-center flex h-10 border shadow-lg shadow-blue-50 rounded-xl"
                        (click)="addNovelty()">
                        Agregar novedad
                    </button>
                </div>
            </div>
    
            <!--Novedades-->
            <div class="w-full lg:h-4/5 h-4/6 border border-gray-200 rounded-xl overflow-auto">
                <div class="overflow-auto w-full">
                    <table class="table-auto w-full">
                        <thead class="border-b">
                            <tr class="whitespace-nowrap">
                                <th class="text-xs font-nunito font-bold p-3 text-left">Novedad</th>
                                <th class="text-xs font-nunito font-bold p-3 text-left">Estado</th>
                                <th class="text-xs font-nunito font-bold p-3 text-right pr-7">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let novelty of novelties; let i = index" class="border-b">
                                <td class="text-xs font-nunito p-3">
                                    <input *ngIf="novelty.editando"
                                           [(ngModel)]="novelty.name"
                                           class="w-full p-2 border rounded-lg"
                                           placeholder="Nombre del motivo" />
                                    <span *ngIf="!novelty.editando">{{ novelty.name }}</span>
                                </td>
                                <td class="pl-3">
                                    <select *ngIf="novelty.editando"
                                            [(ngModel)]="novelty.status"
                                            class="w-full p-2 border rounded-lg h-8 font-nunito text-xs tracking-tight">
                                        <option [value]="true">Activo</option>
                                        <option [value]="false">Inactivo</option>
                                    </select>
                                    <div *ngIf="!novelty.editando" class="h-5 lg:w-1/2 w-full rounded-lg items-center justify-center flex"
                                         [class]="{'bg-green-100': novelty.status, 'bg-red-100': !novelty.status}">
                                        <p class="text-xs font-nunito p-3"
                                           [class]="{'text-green-400': novelty.status, 'text-red-400': !novelty.status}">
                                            {{ novelty.status ? 'Activo' : 'Inactivo' }}
                                        </p>
                                    </div>
                                </td>
                                <td class="pl-3">
                                    <div class="flex space-x-2 justify-end pr-5">
                                        <button *ngIf="!novelty.editando"
                                                class="h-6 w-6 bg-sky-100 rounded-lg items-center justify-center"
                                                (click)="editNovelty(i)">
                                            <i class="fa-regular fa-pen-to-square w-5 h-5 text-sky-500"></i>
                                        </button>
                                        <button *ngIf="novelty.editando"
                                                class="h-6 w-6 bg-green-100 rounded-lg items-center justify-center"
                                                (click)="saveNovelty(i)">
                                            <i class="fa-regular fa-floppy-disk text-green-500"></i>
                                        </button>
                                        <button *ngIf="novelty.editando"
                                                class="h-6 w-6 bg-gray-100 rounded-lg items-center justify-center"
                                                (click)="cancelNovelty(i)">
                                            <i class="fa-regular fa-rectangle-xmark text-gray-500"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Paginación -->
            <div
                class="flex justify-center lg:justify-end lg:p-0 items-center space-x-2 lg:space-x-4 mt-2 lg:mt-5 text-xs font-nunito">
                <div class="flex flex-col lg:flex-row items-center space-x-2 font-nunito">
                    <label for="elementosPorPagina" class="text-xs font-medium text-gray-700">Items per page:</label>
                    <select id="elementosPorPagina"
                        class="block w-20 px-3 py-1.5 text-xs font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
                        [(ngModel)]="pageSizeNovelty" (change)="loadNoveltyList()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div class="flex items-center space-x-0 font-nunito">
                    <button
                        class="px-2 py-1 text-xs font-medium text-gray-700 bg-white rounded-md hover:bg-gray-100 disabled:text-gray-300 disabled:bg-white"
                        [disabled]="pageNovelty <= 1" (click)="changePage(pageNovelty - 1)">
                        Previous
                    </button>
                    <span class="text-xs font-medium font-nunito text-gray-700 flex">{{pageNovelty}} of {{totalPagesNovelty}}</span>
                    <button
                        class="px-2 py-1 text-xs font-medium font-nunito text-gray-700 bg-white rounded-md hover:bg-gray-100 disabled:text-gray-300 disabled:bg-white"
                        [disabled]="pageNovelty >= totalPagesNovelty" (click)="changePage(pageNovelty + 1)">
                        Next
                    </button>
                </div>
            </div>

        </div>
    </div>
    
</div>