
/* Estilos globales para Pikaday */
@import '../node_modules/pikaday/css/pikaday.css';
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Nunito";
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #60a5fa !important;
    box-shadow: none;
    border-radius: 3px;
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ngx-dropdown-button{
  height: 43px;
  border-color: #e5e7eb !important;
  border-width: 1px !important;
  border-radius: 0.5rem !important;
  font-weight: 600 !important;
    color: #475569 !important;
  letter-spacing: -0.025em !important;
}


.ngx-dropdown-list-container {
  top: 100% !important; /* Despliega el dropdown hacia abajo */
  bottom: auto !important; /* Evita que se despliegue hacia arriba */
  z-index: 10 !important;
}

.loader {
  @apply w-16 h-16 border-4 border-t-4 border-gray-200 rounded-full animate-spin;
  border-top-color: #3490dc;
}



